# Number Data Type and Arithmetic in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

### Basic Arithmetic

In [1]:
# Addition
print(2+1)

3

In [40]:
# Subtraction
2-1

1

In [3]:
# Multiplication
2*2

4

In [4]:
# Division
3/2

1.5

In [4]:
# Floor Division
7//4

1

We get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

In [5]:
# Modulo
7%4

3

The % operator returns the remainder after division.

In [6]:
# Powers
2**3

8

In [8]:
# do roots this way
4**0.5

2.0

In [7]:
27**(1/3)

3.0

In [8]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [9]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

## Variable Assignments

We use a single equals sign to assign labels to variables. Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [10]:
a = 5

In [11]:
a+a

10

In [12]:
a = 20

In [13]:
# Check
a

20

In [14]:
# Use A to redefine A
a = a + a

In [4]:
a

40

In [15]:
num1 = 25_000_000
num2 = 25000000
print(num1)
print(num2)

25000000
25000000

In [16]:
num = 1.75e5
print(num)
print(2e308)

175000.0
inf

## Variable Name Rules
The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. Avoid using words that have special meaning in Python like "list" and "str"
    + 5. It's considered best practice (PEP8) that names are lowercase.
    + 6. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.

In [19]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [20]:
my_taxes

10.0

## Reassigning Variables

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [5]:
a += 10
a

50

In [6]:
a *= 2
a

100

In [7]:
a

100

## Determining variable type
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [27]:
type(a)

int

In [16]:
#Boolean
t, f = True, False
print(type(t))
print(t)
print(f)
print(c)

<class 'bool'>
True
False
20

In [17]:
#swapping
data1 = 7 
data2 = 12
data3 = 23
data4 = 33

data1, data2, data3 , data4 = data2 , data1, data4, data3

print(data1, data2, data3, data4)

12 7 33 23

In [18]:
35+67

102

In [4]:
"35"+"67"

'3567'

In [21]:
1+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Some Important functions

In [22]:
print(a)
print('hello world')

40
hello world

In [23]:
a = input('write something ')
print('what you wrote was : ',a)

write something 123456
what you wrote was :  123456

In [2]:
num1 = float(input('Enter a number '))
num1*=3
print(num1)

Enter a number 8
24.0

- Get two numbers from user one for base and one for power.

In [28]:
base = int(input('Enter base number: '))
power = int(input('Enter power: '))
print(base**power)

Enter base number: 3
Enter power: 5
243

## Project

🧮 Welcome to the restaurant bill Calculator! 🧮
What was the total bill? $2000
What percentage tip would you like to give? 10, 12, or 15? 10
How many people to split the bill? 5
🧮 Each person should pay:  440.0

## Mathematical Functions

In [30]:
user_input = input("Enter a number: ")
num = float(user_input)
print(f"{num} rounded to 2 decimal places is {round(num, 2)}")

Enter a number: 1.234567
1.234567 rounded to 2 decimal places is 1.23

In [31]:
user_input = input("Enter a number: ")
num = float(user_input)
print(f"The absolute value of {num} is {abs(num)}")

Enter a number: -123
The absolute value of -123.0 is 123.0

In [32]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter another number: "))
print(f"The difference between {num1} and {num2} is an integer? "
    f"{(num1 - num2).is_integer()}!")

Enter a number: 12
Enter another number: 14.5
The difference between 12.0 and 14.5 is an integer? False!

In [33]:
isinstance(5.5,float) #5,int

True

In [34]:
pow(4, 3)

64

In [35]:
oct(40)

'0o50'

In [36]:
hex(255)

'0xff'

In [37]:
bin(36)

'0b100100'

In [38]:
help(hex)

Help on built-in function hex in module builtins:

hex(number, /)
    Return the hexadecimal representation of an integer.

    >>> hex(12648430)
    '0xc0ffee'

In [39]:
chr(99) #Convert back to unicode

'c'

In [22]:
divmod(10, 3) # returns the quotient  and the remainder

(3, 1)

### minoosayyadpour3@gmail.com