In [1]:
import sqlite3

In [2]:
# Connect to database if existent or creates a new database if nonexistent
conn = sqlite3.connect("customers.db")

# Create a cursor
c = conn.cursor()

## Create a Table
 In this case 'customers' is the name of the database / a database is LIKE a spreadsheet then you enter the name of variable in table and the datatype.
Sqlite only has 5 datatype (although other databases like MySql have dozens more)
SQLite DataTypes are:
- NULL (does it exist or doesnt),
- INTEGER (any whole number)
- REAL (any decimal number)
- TEXT (any text)
- BLOB (it is stored exactly like it is) (an image, mp3, etc. are some examples of blobs)

In [3]:

c.execute("""CREATE TABLE customers (
    first_name text,
    last_name text,
    email text
)""")


# 'Commits' (saves) the things we just made to the db (database)
conn.commit()

# Close connection to avoid mistakes & errors / it is a good practice to make it manually
conn.close()

# Insert one record to table

In [5]:
conn = sqlite3.connect("customers.db")

# Create a cursor
c = conn.cursor()

# Insert one record to table
c.execute("INSERT INTO customers VALUES ('Yalda', 'Goli', 'yg@email.com'),('Minoo','Sayyadpour','minoosayyadpour34@gmail.com')")

# Commit changes to db
conn.commit()

## Create python list with customer info

In [6]:
many_customers = [
                 ('customerName1', 'customerLastName1', 'customer1@email.com'),
                 ('customerName2', 'customerLastName2', 'customer2@email.com'),
                 ('customerName3', 'customerLastName3', 'customer3@email.com'),
               ]

# Insert many records to table
# In sqlite the "?" question mark is the place holder
c.executemany("INSERT INTO customers VALUES (?,?, ?)", many_customers)

conn.commit()

conn.close()

## A report from dataset
fetch returned a python list that are dataset rows.
- .fetchone() == fetches the last item
- .fetchmany() == fetches how many you tell it on parameters
- .fetchall() == fetches all

In [5]:
conn = sqlite3.connect("customers.db")

# Create a cursor
c = conn.cursor()

# Query the database (db)
c.execute("SELECT * FROM customers")

#items = c.fetchall()

print(c.fetchall())

# Commit changes to db
conn.commit()

# Close connection to db
conn.close()

[('customerName', 'customerLastName', 'customer@email.com'), ('Minoo', 'Sayyadpour', 'minoosayyadpour34@gmail.com'), ('customerName1', 'customerLastName1', 'customer1@email.com'), ('customerName2', 'customerLastName2', 'customer2@email.com'), ('customerName3', 'customerLastName3', 'customer3@email.com')]

In [4]:
for item in items:
    print("Name: " + item[0] + "\tLast Name: " + item[1] + "\tEmail: " + item[2])
    # We also can just do: print(item)

Name: customerName	Last Name: customerLastName	Email: customer@email.com
Name: Minoo	Last Name: Sayyadpour	Email: minoosayyadpour34@gmail.com
Name: customerName1	Last Name: customerLastName1	Email: customer1@email.com
Name: customerName2	Last Name: customerLastName2	Email: customer2@email.com
Name: customerName3	Last Name: customerLastName3	Email: customer3@email.com

# Query the database (db)
A primary key is a unique id number that each record from the database gets / in SQLite it is called row id In most databases you have to create the primary key yourself and an automatic increasing counter.
But this sqlite has it included all ready.

In [7]:
conn = sqlite3.connect("customers.db")
c = conn.cursor()


c.execute("SELECT rowid, * FROM customers")

items = c.fetchall()


# Formatting the results
for item in items:
    #print("Name: " + item[0] + "\tLast Name: " + item[1] + "\tEmail: " + item[2])
    print(item)

# Commit changes to db
conn.commit()

# Close connection to db
conn.close()

(1, 'customerName', 'customerLastName', 'customer@email.com')
(2, 'Minoo', 'Sayyadpour', 'minoosayyadpour34@gmail.com')
(3, 'customerName1', 'customerLastName1', 'customer1@email.com')
(4, 'customerName2', 'customerLastName2', 'customer2@email.com')
(5, 'customerName3', 'customerLastName3', 'customer3@email.com')

## Conditional Query

* A comparison operator used a lot is: LIKE / which compares to similar results and have to end with % or start with %
* Example: WHERE email LIKE '%customer'
* We can also use all of the other comparison operators like: >, <, ==, >=, etc.

In [8]:
conn = sqlite3.connect("customers.db")

# Create a cursor
c = conn.cursor()

c.execute("SELECT * FROM customers WHERE first_name LIKE 'customer%' ")


items = c.fetchall()

for item in items:
    print("Name: " + item[0] + "\tLast Name: " + item[1] + "\tEmail: " + item[2])

conn.commit()
conn.close()

Name: customerName	Last Name: customerLastName	Email: customer@email.com
Name: customerName1	Last Name: customerLastName1	Email: customer1@email.com
Name: customerName2	Last Name: customerLastName2	Email: customer2@email.com
Name: customerName3	Last Name: customerLastName3	Email: customer3@email.com

## Update record
<code>c.execute(""" UPDATE customers SET first_name = 'Jimmy'
               WHERE first_name = 'customerName3'""")
</code>
The code in the lines above works, but it is not ideally and/or correct because there may be different records with similar parts; like in this case there may be a lot of customers with the name of 'customerName3' the best thing to do is to search it with the row id like this: First we search for the rowid

In [9]:
conn = sqlite3.connect("customers.db")
c = conn.cursor()


c.execute("SELECT rowid, * FROM customers")

items = c.fetchall()

for item in items:
    print(item)

c.execute(""" UPDATE customers SET first_name = 'Jimmy'
              WHERE rowid = 2""")

conn.commit()

c.execute("SELECT * FROM customers")

print(c.fetchall())

(1, 'customerName', 'customerLastName', 'customer@email.com')
(2, 'Minoo', 'Sayyadpour', 'minoosayyadpour34@gmail.com')
(3, 'customerName1', 'customerLastName1', 'customer1@email.com')
(4, 'customerName2', 'customerLastName2', 'customer2@email.com')
(5, 'customerName3', 'customerLastName3', 'customer3@email.com')
[('customerName', 'customerLastName', 'customer@email.com'), ('Jimmy', 'Sayyadpour', 'minoosayyadpour34@gmail.com'), ('customerName1', 'customerLastName1', 'customer1@email.com'), ('customerName2', 'customerLastName2', 'customer2@email.com'), ('customerName3', 'customerLastName3', 'customer3@email.com')]

## Delete record

In [10]:
c.execute("DELETE from customers WHERE rowid = 3")  
# Do not forget to use the WHERE with the DELETE

conn.commit()

c.execute("SELECT * FROM customers")

print(c.fetchall())

conn.close()

[('customerName', 'customerLastName', 'customer@email.com'), ('Jimmy', 'Sayyadpour', 'minoosayyadpour34@gmail.com'), ('customerName2', 'customerLastName2', 'customer2@email.com'), ('customerName3', 'customerLastName3', 'customer3@email.com')]

## Ordering results
By default the database order the results by the rowid in ascending order. The keyword to ordering are:
- ASC == ascending
- DESC == descending
- and you can combine and mix them like: ex. ORDER BY last_name DESC

In [11]:
conn = sqlite3.connect("customers.db")
c = conn.cursor()


c.execute("SELECT rowid, * FROM customers ORDER BY last_name")


conn.commit()
c.execute("SELECT * FROM customers")
print(c.fetchall())
conn.close()

[('customerName', 'customerLastName', 'customer@email.com'), ('Jimmy', 'Sayyadpour', 'minoosayyadpour34@gmail.com'), ('customerName2', 'customerLastName2', 'customer2@email.com'), ('customerName3', 'customerLastName3', 'customer3@email.com')]

## AND , OR Ordering results
AND & OR add more conditions to your WHERE cause

In [2]:
import sqlite3

conn = sqlite3.connect("customers.db")
c = conn.cursor()


c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE 'custumer%' AND rowid = 2")

conn.commit()

c.execute("SELECT * FROM customers")

print(c.fetchall())
conn.close()

[('customerName', 'customerLastName', 'customer@email.com'), ('Jimmy', 'Sayyadpour', 'minoosayyadpour34@gmail.com'), ('customerName2', 'customerLastName2', 'customer2@email.com'), ('customerName3', 'customerLastName3', 'customer3@email.com')]

 You can mix this with ordering results and other things
Example: <code> c.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC LIMIT 2") </code>

In [3]:
conn = sqlite3.connect("customers.db")
c = conn.cursor()

# Ordering results
# If there are too many records you can limit the results
c.execute("SELECT rowid, * FROM customers LIMIT 2")


# Commit changes to db
conn.commit()

c.execute("SELECT * FROM customers")

print(c.fetchall())

[('customerName', 'customerLastName', 'customer@email.com'), ('Jimmy', 'Sayyadpour', 'minoosayyadpour34@gmail.com'), ('customerName2', 'customerLastName2', 'customer2@email.com'), ('customerName3', 'customerLastName3', 'customer3@email.com')]

## Delete table

In [4]:
c.execute("DROP TABLE customers")  # Once dropped (deleted) the table is gone

# Commit changes to db
conn.commit()

# Close connection to db
conn.close()

## Exercise 
Use some function to:
- show all records
- Add ONE new record to the table
- Delete record from table
- Add MANY records to DB
- Delete record from table
- Lookup for email

In [5]:
def show_all():
    # Connect to database
    conn = sqlite3.connect("customers.db")

    # Create a cursor
    c = conn.cursor()

    # Query database
    c.execute("SELECT * FROM customers")
    items = c.fetchall()

    # Show results
    for item in items:
        print(item)

    # Commit changes
    conn.commit()

    # Close connection
    conn.close()

In [6]:
def add_one(first, last, email):
    # Connect to database
    conn = sqlite3.connect("customers.db")

    # Create a cursor
    c = conn.cursor()

    # Query database
    c.execute("INSERT INTO customers VALUES (?, ?, ?)", (first, last, email))

    # Commit changes
    conn.commit()

    # Close connection
    conn.close()

In [7]:
def add_many(list_customers):
    # Connect to database
    conn = sqlite3.connect("customers.db")

    # Create a cursor
    c = conn.cursor()

    # Query database
    c.executemany("INSERT INTO customers VALUES (?, ?, ?)", list_customers)

    # Commit changes
    conn.commit()

    # Close connection
    conn.close()

In [9]:
def delete_one(id):
    # Connect to database
    conn = sqlite3.connect("customers.db")

    # Create a cursor
    c = conn.cursor()

    # Query database
    c.execute("DELETE from customers WHERE ROWID = (?)", id)

    # Commit changes
    conn.commit()

    # Close connection
    conn.close()

In [8]:
def email_lookup(email):
    # Connect to database
    conn = sqlite3.connect("customers.db")

    # Create a cursor
    c = conn.cursor()

    # Query database
    c.execute("SELECT * FROM customers WHERE email = (?)", email)
    items = c.fetchall()

    # Show results
    for item in items:
        print(item)

    # Commit changes
    conn.commit()

    # Close connection
    conn.close()

**finish example app below:**

In [11]:
print("\nWelcome to our example app.")
print("""Options:
    1. Create database (for first runs)
    2. Add one record to database
    3. Add many (3) records to database
    4. Show records in database
    5. Search a record in database with email
    6. Delete one record from database
    0. Exit
    -----------------------------------------------------
    """)

Welcome to our example app.
Options:
    1. Create database (for first runs)
    2. Add one record to database
    3. Add many (3) records to database
    4. Show records in database
    5. Search a record in database with email
    6. Delete one record from database
    0. Exit
    -----------------------------------------------------